<launch>

  <arg name="distance" default="0.3"/>

  <node pkg="tf" type="static_transform_publisher" name="goal_offset" args="-0.09 $(arg distance) 0 0.707 -0.707 0 0 /aruco_marker_frame /arm_goal 10" />
  <rosparam command="load" file="$(find tiago_handover)/config/pick_motions.yaml" /> 
  <node pkg="tiago_handover" type="human_grasp_play_motion.py" name="handover" output="screen"/>

</launch>

